<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- stylesheets -->
    <link href="../static/jquery/jquery-ui.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css"/>
    <!-- jquery and bootstrap -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/jquery/jquery-ui.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- d3.js -->
    <script src="../static/d3/d3.v4.min.js"></script>
    <script src="../static/d3/d3-jetpack.js"></script>
    <!-- Bubble Chart Script -->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/read-sto-data.js"></script>
    <script src="../scripts/sto-bubble.js"></script>

    <title>Industry 4.0 Standards</title>
</head>

<body>

<div class="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"><a href="../index.html" class="navbar-brand">Standards Knowledge Graph</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"><span
                        class="icon-bar"></span> <span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="chart.html">Standards</a></li>
                    <li><a href="map.html">Locations</a></li>
                    <li><a href="timeline.html">Timeline</a></li>
                    <li><a href="network.html">Network</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="left col-xs-9">
        <div class="col-md-12">
            <div class="row">
                <div id="sequence" class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="search-container">
                        <input id="search_box" type="text" placeholder="Search.." name="search">
                        <button id="search_button" type="submit" onclick="search_chart('chart')"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="row chart-container"></div>
        </div>
    </div>

    <div id="sidebar-info" class="right col-xs-3">
        <div id="sidebar-text">
            <p class="info">Select an element in the visualization to see details</p>
        </div>
        <div id="mContainer">
            <div id="molecule"></div>
        </div>
    </div>
</div>

<!--Footer-->
<div class="footer navbar-fixed-bottom footer-cp">
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
            <span class="nav-link">© Fraunhofer IAIS, 2017-2018, Irlan Grangel, Steffen Lohmann, Mayesha Tasnim</span>
        </li>
    </ul>
</div>

</body>

<!--Chart Script-->
<script>

    d3.select(window).on('resize', adjustSize);
    fetchStoData()
        .then(readStoData)
        .then(drawBubbleChart);
</script>