<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- stylesheets -->
    <link href="../static/jquery/jquery-ui.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css"/>
    <!-- jquery and bootstrap -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/jquery/jquery-ui.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- d3.js -->
    <script src="../scripts/common.js"></script>
    <script src="../static/d3/d3-venn.js"></script>
    <script src="../static/d3/d3.v4.min.js"></script>
    <script src="../scripts/read-venn-data.js"></script>
    <script src="../scripts/sto-venn.js"></script>



    <title>Industry 4.0 Standards</title>
</head>

<body>

<div class="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"><a href="../index.html" class="navbar-brand">Standards Knowledge Graph</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"><span
                        class="icon-bar"></span> <span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="chart.html">Standards</a></li>
                    <li><a href="map.html">Locations</a></li>
                    <li><a href="timeline.html">Timeline</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Network<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="network.html">Standards</a></li>
                            <li><a href="network_cc.html">Classifications & Concerns</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Venn<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="venn_fw.html">Standards & Frameworks</a></li>
                            <li><a href="venn_cls.html">Standards & Classifications</a></li>
                            <li><a href="venn_fw_concern.html">Concerns & Frameworks</a></li>
                            <li><a href="venn_cls_concern.html">Concerns & Classifications</a></li>
							<li><a href="matrix_fw_concern.html">Frameworks & Concerns</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="left col-xs-9">
        <div id="network-chart">
            <div class="col-md-12">
                <div class="row">
                    <div class="user-input">
                        <button id="expand" type="button" class="btn btn-link toggle-collapse" aria-label="Left Align" data-toggle="collapse" data-target="#toggle-input">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                        <div id="toggle-input" class="collapse">
                            <div id="selectFrameworks" class="selectionUI"></div>
                            <button type="submit" onclick="loadVennDiagram()" class="btn btn-primary btn-xs">Draw Diagram</button>
                        </div>
                    </div>
                </div>

      <div class="container">
         <graph></graph>

         <aside >
           <p>Ordem: <select id="order">
             <option value="name">Alfabética</option>
             <option value="count">por Frequência</option>
             <option value="group">por Área</option>
           </select>
         </aside>

         
      </div>
            </div>
        </div>
    </div>

    <div id="sidebar-info" class="right col-xs-3">
        <div id="sidebar-text">
            <p class="info">Select an element in the visualization to see details</p>
        </div>
        <div id="details"></div>
    </div>
</div>

<!--Footer-->
<div class="footer navbar-fixed-bottom footer-cp">
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
            <span class="nav-link">© Fraunhofer IAIS, 2017-2018, Irlan Grangel, Steffen Lohmann, Mayesha Tasnim</span>
        </li>
    </ul>
</div>

</body>

<!--Chart Script-->
<script>
   fetchFrameworks(true).then(readFrameworks).then(function(frameworks){
        var inputContainer = $("#selectFrameworks");
        for(var i=0; i < frameworks.length; i++){
            var input = $('<input type="checkbox" checked="checked" class="grid-item" value="' + frameworks[i].id + '" id="togFr_' + i + '" onchange="">' + frameworks[i].name + '</input>');
            inputContainer.append(input);
        }
        loadVennDiagram();
    });

    $("#expand").click(function(){
        var icon = $(this).find("span");
        if ( icon.hasClass( "glyphicon-chevron-down" ) ) {
            icon.removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
        } else {
            icon.removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
        }
    });

    function loadVennDiagram(){
        destroyChart("#matrix");
        var queryString = "";
        $("#selectFrameworks input").each(function(index, input){
            if($(input).is(":checked")){
                queryString += "<" + $(input).val() + ">,"
            }
        });

        fetchVennData(queryString.slice(0, -1), true).then(readVennData).then(loadVenn);
    }
    //loadMatrixDiagram(vennData);
    // d3.select(window).on('resize', adjustSize);

	function createMatrix(promise) {
         var margin = {
          top: 285,
          right: 0,
          bottom: 0,
          left: 285
          },
          width = 700,
          height = 700;
		  
        var svg = d3.select("graph").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        svg.append("rect")
            .attr("class", "background")
            .attr("width", width)
            .attr("height", height);

		
		// sba: core
		var data = getSets(vennData);
		showStats(data);

		function showStats(d) {
			var content = "<table class='table-bordered property-table'><tr><td>Frameworks</td><td>Number of Standards</td></tr>";
			for(var key in d){
				var count = d[key];
				content += '<tr><td><b>'+ key +'</b></td><td>' + count + '</td> </tr>';
			}
			content += "</table>";
			$(".details").html(content);
		}
		console.log(data);
		
		var matrix = [];
		var nodes = data.nodes;
		var total_items = nodes.length;
		var matrixScale = d3.scaleBand().range([0, width]).domain(d3.range(total_items));
		var opacityScale = d3.scaleLinear().domain([0, 10]).range([0.3, 1.0]).clamp(true);
		var colorScale = d3.scaleOrdinal(d3.schemeCategory20);
			
            // Create rows for the matrix
            nodes.forEach(function(node) {
                node.count = 0;
                node.group = groupToInt(node.group);
                matrix[node.index] = d3.range(total_items).map(item_index => {
                    return {
                        x: item_index,
                        y: node.index,
                        z: 0
                    };
                });
            });
            // Fill matrix with data from links and count how many times each item appears
            data.links.forEach(function(link) {
                matrix[link.source][link.target].z += link.value;
                matrix[link.target][link.source].z += link.value;
                nodes[link.source].count += link.value;
                nodes[link.target].count += link.value;
            });
            // Draw each row (translating the y coordinate)
            var rows = svg.selectAll(".row")
                .data(matrix)
                .enter().append("g")
                .attr("class", "row")
                .attr("transform", (d, i) => {
                    return "translate(0," + matrixScale(i) + ")";
                });
            var squares = rows.selectAll(".cell")
                .data(d => d.filter(item => item.z > 0))
                .enter().append("rect")
                .attr("class", "cell")
                .attr("x", d => matrixScale(d.x))
                .attr("width", matrixScale.bandwidth())
                .attr("height", matrixScale.bandwidth())
                .style("fill-opacity", d => opacityScale(d.z)).style("fill", d => {
                    return nodes[d.x].group == nodes[d.y].group ? colorScale(nodes[d.x].group) : "grey";
                })
                .on("mouseover", mouseover)
                .on("mouseout", mouseout);
            var columns = svg.selectAll(".column")
                .data(matrix)
                .enter().append("g")
                .attr("class", "column")
                .attr("transform", (d, i) => {
                    return "translate(" + matrixScale(i) + ")rotate(-90)";
                });
            rows.append("text")
                .attr("class", "label")
                .attr("x", -5)
                .attr("y", matrixScale.bandwidth() / 2)
                .attr("dy", ".32em")
                .attr("text-anchor", "end")
                .text((d, i) => capitalize_Words(nodes[i].name));
            columns.append("text")
                .attr("class", "label")
                .attr("y", 100)
                .attr("y", matrixScale.bandwidth() / 2)
                .attr("dy", ".32em")
                .attr("text-anchor", "start")
                .text((d, i) => capitalize_Words(nodes[i].name));
            // Precompute the orders.
            var orders = {
                name: d3.range(total_items).sort((a, b) => {
                    return d3.ascending(nodes[a].name, nodes[b].name);
                }),
                count: d3.range(total_items).sort((a, b) => {
                    return nodes[b].count - nodes[a].count;
                }),
                group: d3.range(total_items).sort((a, b) => {
                    return nodes[b].group - nodes[a].group;
                })
            };
            d3.select("#order").on("change", function() {
                changeOrder(this.value);
            });
            function changeOrder(value) {
                matrixScale.domain(orders[value]);
                var t = svg.transition().duration(2000);
                t.selectAll(".row")
                    .delay((d, i) => matrixScale(i) * 4)
                    .attr("transform", function(d, i) {
                        return "translate(0," + matrixScale(i) + ")";
                    })
                    .selectAll(".cell")
                    .delay(d => matrixScale(d.x) * 4)
                    .attr("x", d => matrixScale(d.x));
                t.selectAll(".column")
                    .delay((d, i) => matrixScale(i) * 4)
                    .attr("transform", (d, i) => "translate(" + matrixScale(i) + ")rotate(-90)");
            }
            rows.append("line")
                .attr("x2", width);
            columns.append("line")
                .attr("x1", -width);
            var tooltip = d3.select("body")
                .append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);
            function mouseover(p) {
                d3.selectAll(".row text").classed("active", (d, i) => {
                    return i == p.y;
                });
                d3.selectAll(".column text").classed("active", (d, i) => {
                    return i == p.x;
                });
                tooltip.transition().duration(200).style("opacity", .9);
                tooltip.html(capitalize_Words(nodes[p.y].name) + " [" + intToGroup(nodes[p.y].group) + "]</br>" +
                        capitalize_Words(nodes[p.x].name) + " [" + intToGroup(nodes[p.x].group) + "]</br>" +
                        p.z + " trabalhos relacionados")
                    .style("left", (d3.event.pageX + 30) + "px")
                    .style("top", (d3.event.pageY - 50) + "px");
            }
            function mouseout() {
                d3.selectAll("text").classed("active", false);
                tooltip.transition().duration(500).style("opacity", 0);
            }
     }
            
        /* utils */ 
            
          var groupToInt = function(area) {
          if(area == "exatas"){
              return 1;
          }else if (area == "educacao"){
              return 2;
          }else if (area == "humanas"){
              return 3;
          }else if (area == "biologicas"){
              return 4;
          }else if (area == "linguagem"){
              return 5;
          }else if (area == "saude"){
              return 6;
          }
      };
      var intToGroup = function(area) {
          if(area == 1){
              return "exatas";
          }else if (area == 2){
              return "educacao";
          }else if (area == 3){
              return "humanas";
          }else if (area == 4){
              return "biologicas";
          }else if (area == 5){
              return "linguagem";
          }else if (area == 6){
              return "saude";
          }
      };
      function capitalize_Words(str){
        return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
      }
	  

	destroyChart("#matrix");
	var queryString = "";
	$("#selectFrameworks input").each(function(index, input){
		if($(input).is(":checked")){
			queryString += "<" + $(input).val() + ">,"
		}
	});
	fetchVennData(queryString.slice(0, -1), true).then(readVennData).then(createMatrix);
</script>