<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- stylesheets -->
    <link href="../static/jquery/jquery-ui.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css"/>
    <!-- jquery and bootstrap -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/jquery/jquery-ui.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- d3.js -->
    <script src="../static/d3/d3.v3.min.js"></script>

    <script src="../scripts/common.js"></script>
    <script src="../static/d3/d3-venn.js"></script>
    <script src="../scripts/read-venn-data.js"></script>
    <script src="../scripts/sto-venn.js"></script>



    <title>Industry 4.0 Standards</title>
</head>

<body>

<div class="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"><a href="../index.html" class="navbar-brand">Standards Knowledge Graph</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"><span
                        class="icon-bar"></span> <span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="chart.html">Standards</a></li>
                    <li><a href="map.html">Locations</a></li>
                    <li><a href="timeline.html">Timeline</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Network<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="network.html">Standards</a></li>
                            <li><a href="network_cc.html">Classifications & Concerns</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Venn<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="venn_fw.html">Standards & Frameworks</a></li>
                            <li><a href="venn_cls.html">Standards & Classifications</a></li>
                            <li><a href="venn_fw_concern.html">Concerns & Frameworks</a></li>
                            <li><a href="venn_cls_concern.html">Concerns & Classifications</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="left col-xs-9">
        <div id="network-chart">
            <div class="col-md-3">
                <div class="user-input">
                    <button id="expand" type="button" class="btn btn-link toggle-collapse" aria-label="Left Align" data-toggle="collapse" data-target="#toggle-input">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </button>
                    <div id="toggle-input" class="collapse">
                        <div id="selectClassifications" class="selectionUI"></div>
                        <button type="submit" onclick="loadVennDiagram()" class="btn btn-primary btn-xs">Draw Diagram</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="chart-container"></div>
            </div>
        </div>
    </div>

    <div id="sidebar-info" class="right col-xs-3">
        <div id="sidebar-text">
            <p class="info">Select an element in the visualization to see details</p>
        </div>
        <div id="details"></div>
    </div>
</div>

<!--Footer-->
<div class="footer navbar-fixed-bottom footer-cp">
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
            <span class="nav-link">© Fraunhofer IAIS, 2017-2018, Irlan Grangel, Steffen Lohmann, Mayesha Tasnim</span>
        </li>
    </ul>
</div>

</body>

<!--Chart Script-->
<script>
    fetchClassifications().then(readClassifications).then(function(classifications){
        var inputContainer = $("#selectClassifications");
        var multiSelect = $("<select id='multiselect_cls' multiple='multiple'></select>");
        for(var i=0; i < classifications.length; i++){
            var option = $('<option value="' + classifications[i].id + '" id="togCls_' + i + '">' + classifications[i].name + '</option>');
            multiSelect.append(option);
        }
        inputContainer.append(multiSelect);
    });

    $("#expand").click(function(){
        var icon = $(this).find("span");
        if ( icon.hasClass( "glyphicon-chevron-down" ) ) {
            icon.removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
        } else {
            icon.removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
        }
    });

    function loadVennDiagram(){
        destroyChart("#venn");
        var queryString = "";
        var selectedValues = $('#multiselect_cls').val();
        for(var i=0; i < selectedValues.length; i++){
            queryString += "<" + selectedValues[i] + ">,"
        }
        fetchVennCls(queryString.slice(0, -1), true).then(readVennClsData).then(loadVenn);
    }
    //loadVenn(vennData);
    // d3.select(window).on('resize', adjustSize);
</script>