.node {
    cursor: pointer;
}

.node:hover {
    stroke: "yellow";
    stroke-width: 3px;
}


.node-label {
    text-anchor: middle;
    color: #fff9ff;
}

.node--root{
    pointer-events: none;
}

.bubble-chart{
    margin-left: 10%
}

.node-label:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

body{
    font-family: Cambria, sans-serif;
    font-size: medium;
}

h2 {
    text-align: center;
}

tspan{
    display: inline-block;
    margin-top: 1%;
    background-color: rgba(0,0,0,0.25)
}

.breadcrumb{
    cursor: pointer;
}