.node {
    cursor: pointer;
}

.node:hover {
    stroke: "yellow";
    stroke-width: 3px;
}


.node-label {
    text-anchor: middle;
    color: #fff9ff;
}

.node--root{
    pointer-events: none;
}

.bubble-chart{
    margin-left: 10%
}

.node-label:hover{
    cursor: pointer;
    font-weight: 500;
}

h2 {
    text-align: center;
}

tspan{
    display: inline-block;
    margin-top: 1%;
    background-color: rgba(0,0,0,0.25)
}

.breadcrumb{
    cursor: pointer;
}
#search_box{
    width:30%;
    margin-left: 157px;
    margin-right: 2%;
    margin-bottom: 5px;
    /*float:left;*/
    /*display: none;*/
}

#reset_button{
    margin-left: 10px;
}

#chart{
    display: block;
    margin: auto;
}

#sto_map {
    height: 80vh;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    max-width: 83vw;
    display: flex;
    align-items: center;
}

/*WebVowl CSS for halo animation*/

.searchResultA {
    fill: none;
    stroke-width: 5;
    stroke: #f00;
    -webkit-animation-name: pulseAnimation;
    -moz-animation-name: pulseAnimation;
    -o-animation-name: pulseAnimation;
    animation-name: pulseAnimation;

    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;

    -webkit-transform: translateZ(0);
    -webkit-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
    animation-iteration-count: 3;

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;

}
/* a class for not animated search results (hovered over node)*/
.searchResultB {
    fill: none;
    stroke-width: 5;
    stroke: #f00;
}

.axis--grid .domain {
    fill: #ddd;
    stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
    stroke: #fff;
}

.axis--grid .tick--minor line {
    stroke-opacity: .5;
}

.time-span-rect {
    stroke-width: 6;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 2px;
    font: 14px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axis--x > .tick > text {
    font-size: 15px;
    color: #0c5460;
}

.highlight-circle{
    stroke-width: 2px;
    stroke: red;
}

.highlight-text{
    font-weight: bold;
}


#intro_text p{
    font-size: medium;
}

#search_container{
    margin-top: 20px;
}

#sidebar-info {
    padding: 5% 1% 1% 2%;
    overflow-y: auto;
    color: white;
    background-color: #222;
    height: 100%;
    position: fixed;
    right: 0;
    margin-top: -7vh;
}

#sidebar-info h4{
    color: #9fcdff;
}

/* custom template */
html, body {
    height: 100%;
}

body {
    padding-top:50px;
}

.wrapper {
    height: 99%;
    overflow-y:hidden !important;
}

.chart-container {
    width:100%;
    height:90vh;
}

#sequence{
    margin-bottom: -28px;
}

.info{
    font-size: small;
    color: lightgrey;
    text-align: center;
}